body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: 18px;
  background: whitesmoke;
}

h1, h2 {
  color: black;
  font-weight: bold;
  text-align: center;
}



button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: lightblue;
    border: none;
  }
  button:hover {
    background: yellowgreen;
  }
  .top-button{
    margin-right: 2%;
  }


  